name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to release.
        required: true

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Prepare NodeJS
        id: prepare-nodejs
        uses: chrisgavin/nodejs-prepare-action@7b5f9b248f3bfec14724678b20b97d027a879917 # 0.0.6
      - name: Setup NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ steps.prepare-nodejs.outputs.node-version }}
      - name: Install Dependencies
        run: npm ci
      - name: Create the Release
        uses: chrisgavin/build-javascript-action-action@6ff78fb70769e6437c74a7a87712b6b0eb18c17f # 0.0.4
        with:
          tag: ${{ github.event.inputs.tag }}
